<launch>
  <!-- 打开节点dlrobot_robot，初始化串口等操作 -->
  <arg name="odom_frame_id"    default="odom"/>
  <!-- <arg name="robot_frame_id"   default="base_link"/> -->
  <arg name="robot_frame_id"   default="base_footprint"/>
  <arg name="publish_tf"       default="true"/>
  <arg name="max_linear_speed"  default="0.5"/>   <!-- m/s -->
  <arg name="max_angular_speed" default="1.0"/>   <!-- rad/s -->

  <node pkg="dlrobot_robot" type="dlrobot_robot_node" name="dlrobot_robot" output="screen" respawn="false">
    <param name="usart_port_name"    type="string" value="/dev/ttyACM0"/>
    <param name="serial_baud_rate"   type="int"    value="115200"/>
    <param name="odom_frame_id"      type="string" value="$(arg odom_frame_id)"/>
    <param name="robot_frame_id"     type="string" value="$(arg robot_frame_id)"/>
    <param name="gyro_frame_id"      type="string" value="imu_link"/>
    <param name="publish_tf"         type="bool"   value="$(arg publish_tf)"/>
    <param name="max_linear_speed"   type="double" value="$(arg max_linear_speed)"/>
    <param name="max_angular_speed"  type="double" value="$(arg max_angular_speed)"/>
  </node>
</launch>



